body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  color: black;
  margin-top: 50px;

  /* background-image: url("/public/slow.gif");
  background-size: cover; */
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0px;
  position: fixed;
  width: 100%;
  background: rgba(0, 0, 0);
  background-color: rgb(5, 207, 157);
  color: rgb(178, 249, 120);
  color: aliceblue;
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
}

#quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(5, 207, 157);
  color: black;
  height: 350px;
  width: 400px;
  padding: 50px;
  border-radius: 32px;

  z-index: 1;
  top: 50%;
  left: 50%;
  margin: -100px 0 -100px 0;
}

#question-text {
  font-family: "Courier New", Courier, monospace;
}
#questions {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: bolder;
}
#answers {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  list-style-type: none;
}

#btn {
  background-color: rgb(136, 135, 135);
  border: none;
  color: white;
  box-shadow: none;
  text-decoration: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  cursor: pointer;
}
#btn:hover {
  background-color: rgb(174, 174, 174);
}

/* #nb-container {
  overflow: hidden;
  position: relative;
} */

#nb {
  background-image: url("/public/nb-transparent.png");
  background-size: cover;
  width: 300px;
  height: 300px;
  position: relative;
  bottom: -120px;
  bottom: -30px;
}
#nb:hover {
  background-image: url("/public/nb-transparent.png");
  background-size: cover;
  animation: up 0.5s ease-in 1;
  animation-fill-mode: forwards;
}

@keyframes up {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(-60px);
  }
  100% {
    transform: translateY(-90px);
  }
}

/* Result screen */

/* #result-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: rgba(0, 0, 0, 0.3);
  height: 500px;
  width: 400px;
  padding: 50px;
  border-radius: 32px;
}
#result {
  color: black;
  font-family: monospace;
  font-size: 20px;
} */

#result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(5, 207, 157);
  color: black;
  height: 350px;
  width: 400px;
  padding: 50px;
  margin-top: 30px;
  border-radius: 32px;
}
#error {
  display: none;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 20px;
  position: fixed;
  width: 100%;
  background-color: rgb(5, 207, 157);
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 11px;
}
footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
footer a:hover {
  color: rgb(158, 253, 134);
}
